<div class="card mb-4">
    <div class="card-body">
        <a class="fs-4 fw-bold text-decoration-none" title="_ISSUE_TITLE_"
           href="_ISSUE_HREF_" target="_blank">
            _ISSUE_TITLE_
        </a>
        <div class="py-1 mt-3">
            <img src="_USER_AVATAR_URL_" class="rounded" alt="..." style="width: 24px;">
            &nbsp;

            <small class="d-inline-block mr-4">
                <span class="text-body-secondary">repo: </span>_REPO_NAME_
            </small>
            &nbsp;&nbsp;

            <small class="d-inline-block mr-4">
                <span class="text-body-secondary">updated: </span>_ISSUE_UPDATED_AT_
            </small>
            &nbsp&nbsp;

            <small class="d-inline-block mr-4">
                <span class="text-body-secondary">comments: </span>_ISSUE_COMMENTS_
            </small>
            &nbsp&nbsp;

            <small class="d-inline-block mr-5">
                <span class="text-body-secondary">lang: </span>_REPO_LANG_
            </small>
        </div>
    </div>
</div>
