<div class="card mb-5">
    <div class="card-body">
        <a class="h5 card-title text-decoration-none fw-bold" title="Open bitwarden/mobile on GitHub"
           href="https://github.com/bitwarden/mobile" target="_blank">
            _ISSUE_HREF_
        </a>
        <p class="card-text mt-1">
            <small class="text-body-secondary">
                todo REPO_DESCRIPTION
            </small>
        </p>
        <div class="py-1">
            <small class="d-inline-block mr-5">
                <span class="text-body-secondary">lang: </span>_REPO_LANG_
            </small>
            &nbsp;
            <small class="d-inline-block mr-4"><span class="text-body-secondary">comments: </span>TODO</small>
            &nbsp;
            <small class="d-inline-block mr-4">
                <span class="text-body-secondary">updated at: </span>_UPDATED_AT_
            </small>
        </div>
    </div>
    <div class="card-footer bg-transparent pt-0 pb-1">
        <ul class="list-unstyled">

            <li class="my-3">
                <a href="_ISSUE_HREF_" class="card-link fw-bold text-decoration-none">
                    _ISSUE_TITLE_
                </a>
                <small class="text-body-secondary ms-1">_ISSUE_UPDATED_AT_</small>
            </li>

        </ul>
    </div>
</div>
