<div class="card mb-5">
    <div class="card-body">
        <a class="h5 card-title text-decoration-none fw-bold" title="Open bitwarden/mobile on GitHub"
           href="https://github.com/bitwarden/mobile" target="_blank">
            %REPO_NAME%
        </a>
        <p class="card-text mt-1">
            <small class="text-body-secondary">
                %REPO_DESCRIPTION%
            </small>
        </p>
        <div class="py-1">
            <small class="d-inline-block mr-5">
                <span class="text-body-secondary">lang: </span>C#
            </small>
            &nbsp;
            <small class="d-inline-block mr-4"><span class="text-body-secondary">stars: </span>4.17K</small>
            &nbsp;
            <small class="d-inline-block mr-4">
                <span class="text-body-secondary">last activity: </span>10 months ago
            </small>
        </div>
    </div>
    <div class="card-footer bg-transparent pt-0 pb-1">
        <ul class="list-unstyled">

            %ISSUES_LIST_HTML%

        </ul>
    </div>
</div>
